/build-aux
/src/canberra-system-bootup.service
/src/canberra-system-shutdown-reboot.service
/src/canberra-system-shutdown.service
/libcanberra-gtk3.pc
/README
Makefile
Makefile.in
/aclocal.m4
*.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/libcanberra-gtk.pc
/libcanberra.pc
/libltdl
/libtool
/ltmain.sh
*~
/missing
/stamp-h1
/*.tar.gz
/*.tar.xz
